<mat-dialog-content>
  <mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{fighter.name}}</mat-card-title>
    <mat-card-subtitle>{{fighter.grade}}</mat-card-subtitle>
  </mat-card-header>
  <img class="fighter-avatar" mat-card-image src="{{fighter.avatar}}" alt="{{ (fighter) ? fighter.name : 'fighter'}}">
  <mat-card-content>
    <p>
      {{fighter.description}}
    </p>
    <mat-list dense>
      <mat-list-item> {{fighter.weight}}</mat-list-item>
      <mat-list-item> {{fighter.age}}</mat-list-item>
      <mat-list-item> {{fighter.height}}</mat-list-item>
      <mat-list-item> {{fighter.experience}}</mat-list-item>
      <mat-list-item *ngFor="let info of fighter.info"> {{info}}</mat-list-item>
    </mat-list>
  </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="editFighter(fighter)">Edit</button>
  <button mat-button (click)="deleteFighter(fighter)">Slet</button>
</mat-dialog-actions>
