
<h1>Fighters</h1>
<mat-action-list>
  <mat-list-item *ngFor="let fighter of fighters" (click)="loadFighterDialog(fighter)">
    <img matListAvatar src="{{fighter.avatar}}" alt="{{fighter.name}}">
    <h3 matLine> {{fighter.name}} </h3>
    <p matLine>
      <span> {{fighter.grade}} </span>
    </p>
  </mat-list-item>
</mat-action-list>
