<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode">
    <p><button mat-stroked-button color="default" (click)="sidenav.toggle()">Luk</button></p>
    <h1>Busk.pro</h1>
    <mat-nav-list>
      <a mat-list-item *ngIf="!user"> Log ind </a>
      <a mat-list-item *ngIf="user"> Log ud  </a>
      <a mat-list-item *ngIf="user.admin" routerLink="/admin" routerLinkActive="active"> View as Admin  </a>
      <a mat-list-item *ngIf="user.admin || user.official" routerLink="/official" routerLinkActive="active"> View as Official  </a>
      <a mat-list-item routerLink="/guest" routerLinkActive="active"> View as Guest  </a>
    </mat-nav-list>

<app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-stroked-button color="default" (click)="sidenav.toggle()">Menu</button></p>
<div style="text-align:center">
  <h1>
    Velkommen til {{ title }}!
  </h1>
</div>
    <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

